##### 점프 투 파이썬
---
02장 연습문제

> Q1   
``` py
    홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

    과목	점수
    국어	80
    영어	75
    수학	55   
```

In [1]:
국어 = 80
영어 = 75
수학 = 55

총점 = 국어 + 영어 + 수학
평균 = 총점 / 3

print("평균은 ", 평균, "입니다.")

평균은  70.0 입니다.

In [2]:
kor = 80
eng = 75
math = 55

total = kor + eng + math
avg = total / 3

print("avg : ", avg)

avg :  70.0

In [3]:
subjects = [80, 75, 55]
total = subjects[0] + subjects[1] + subjects[2]
avg = total / len(subjects)
print("avg :", avg)

avg : 70.0

In [4]:
subjects = [80, 75, 55]
total = sum(subjects)
avg = total / len(subjects)
print("avg :", avg)

avg : 70.0

In [18]:
subjects = {"국어": 80, "영어":75, "수학":55}
total = subjects["국어"] + subjects["영어"] + subjects["수학"]
avg = total / len(subjects)
print("avg =", avg)

avg = 70.0

In [36]:
# 만약 사용자로 부터 이름과 성적을 입력 받는 경우라면???

data = input("성적을 입력하세요: ")

print(data) # data = '77 55 80 60 50' 문자열 
data_list = data.split(' ')
print(data_list) # data_list = ['55', '65', '75']

total = 0
avg = 0.0

for i in data_list:
    total += int(i)

print("avg =", total / len(data_list))

50 60 70 80
['50', '60', '70', '80']
avg = 65.0

> Q2
``` py
    자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.
```

In [97]:
# 홀수 = [1, 3, 5, 7, 9]
# 홀수문자열 = 숫자의 끝자리가 '13579'
# 홀수표현식 = 2n + 1
# 짝수표현식 = 2n + 0

# Number = 11, 13, 27, 113, 173679467399, .... 

number = 530925
str_num = str(number)

# print(type(number))
# print(type(str_num))
# print(str_num + '1')
# print(str_num[0:5+1])
# print(str_num[-1])

n = str_num[-1]

# print("n:", n)
# print(n == 7)
# print(n == '7')

# if n == 1 or n == 3 or n == 5 or n == 7 or n == 9:
#     print(number, "(은)는 홀수 입니다.")
# else:
#     print(number, "(은)는 짝수 입니다.")

if n == '1' or n == '3' or n == '5' or n == '7' or n == '9':
    print(number, "(은)는 홀수 입니다.")
else:
    print(number, "(은)는 짝수 입니다.")

530925 (은)는 홀수 입니다.

In [115]:
# 홀수 = [1, 3, 5, 7, 9]
# 홀수문자열 = 숫자의 끝자리가 '13579'
# 홀수표현식 = 2n + 1
# 짝수표현식 = 2n + 0

number = 1575893450828

if str(number)[-1] in '13579':
    print(number, "(은)는 홀수 입니다.")
else:
    print(number, "(은)는 짝수 입니다.")

1575893450828 (은)는 짝수 입니다.

In [122]:
# 홀수 = [1, 3, 5, 7, 9]
# 홀수문자열 = 숫자의 끝자리가 '13579'
# 홀수표현식 = 2n + 1
# 짝수표현식 = 2n + 0

number = 13
# number = int(input("자연수를 입력하세요: "))
if number % 2 == 1:
    print(number, "(은)는 홀수 입니다.")
else:
    print(number, "(은)는 짝수 입니다.")

68 (은)는 짝수 입니다.

> Q3
``` py   
    홍길동 씨의 주민등록번호는 881120-1068234이다.  
    홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
```

> Q4
``` py   
    주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.    
    주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.   
```

In [197]:
#     '01234567890123'
# pin = '701120-1068234'
pin = input("주민번호 13자리 입력('-'구분): ")
# print(len(pin))
# print(pin[-1])
# print(pin[-len(pin)])

# yyyymmdd = pin[0:5 + 1] # 0 <= x < 5 + 1
# 주민번호 앞자리
yyyymmdd = pin[:6]
# print("yyyymmdd =", yyyymmdd)

# sn = pin[7:13 + 1]
# 주민번호 뒷자리
sn = pin[7:]
# print("sn =", sn)

# 성별 식별자
gender = sn[0] 

if gender in '12':
    year = '19' + yyyymmdd[0:1 + 1]
elif gender in '34':
    year = '20' + yyyymmdd[0:1 + 1]

age = 2022 - int(year) + 1

print("태어난 해:", year, "년")
print("나이:", age, "세")

if int(gender) % 2 == 0:
    print("여성입니다.")
else:
    print("남성입니다.")

태어난 해: 1970 년
나이: 53 세
남성입니다.

> Q5
``` py
    다음과 같은 문자열 a:b:c:d가 있다.    
    문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.   
```

In [210]:
text = "a:b:c:d"
print(text)

# new_text = text[0] + '#' + text[2] + '#' + text[4] + '#' + text[6]
# print(new_text)

new_text = text.replace(':', '#')
print(new_text)

a:b:c:d
a#b#c#d

> Q6.
``` py   
    [1, 3, 5, 4, 2]라는 리스트를 [5, 4, 3, 2, 1]로 만들어보자.   
```

In [221]:
# 반 학생의 시험 점수를 입력받아 리스트 자료형에 저장
# scores = [60, 80, 100, 90, 70]

str_scores = input("학생들의 점수를 순서대로 입력하세요: ").split()
int_scores = [int(i) for i in str_scores]
int_scores.sort()
print(int_scores) # 리스트 요소를 오름차순으로 정렬
int_scores.reverse()
print(int_scores)

# print("최고점은 {}점 입니다.".format(int_scores[0]))
# print("최저점은 {}점 입니다.".format(int_scores[-1]))
print("최고점은 {}점 입니다.".format(max(int_scores)))
print("최저점은 {}점 입니다.".format(min(int_scores)))
# print(str_scores)
# print(int_scores)

[60, 70, 80, 90, 100]
[100, 90, 80, 70, 60]
최고점은 100점 입니다.
최저점은 60점 입니다.

> Q7.
``` py   
    ['Life', 'is', 'too', 'short'] 라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자.   
```

In [256]:
li = ['Life', 'is', 'too', 'short']
"Life is too short"

# text = li[0] + ' ' + li[1] + ' ' + li[2] + ' ' + li[3]

# text = ""
# for ch in li:
#     text += ch + ' '
# print(text)

# text = ' '.join(li)
# print(text)

text = "{} {} {} {}".format(li[0], li[1], li[2], li[3])
text = f"{li[0]}... {li[1]} {li[2]}💦 {li[3]}"
text = "%s🎶 %s %s~~~~~~ %s" % (li[0], li[1], li[2], li[3])
print(text)

Life🎶 is too~~~~~~ short

> Q8.
``` py   
    (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.   
```

In [399]:
tu = (1, 2, 3)

# tu += (4,)
# print(tu)

new_tu = tuple([1,2,3,4])
new_tu = tuple("1234")
new_tu = tuple([int(i) for i in "1234"])
new_tu = tuple(map(int, "1234"))
print(new_tu)

new_tu = tuple(map(lambda i: int(i)**2, "1234"))

(1, 2, 3, 4)

> Q9.
``` py   
    다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우는 어떤 경우인가?   
    그리고 그 이유를 설명해 보자.   
    >>> a = dict()   
    >>> a   
    {}   

    다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   

    1. a['name'] = 'python'   
    2. a[('a',)] = 'python'   
    3. a[[1]] = 'python'   
    4. a[250] = 'python'   
```

In [ ]:
# 변수(mutable)냐? 상수(immutable)

# 딕셔너리의 키 값은 immutable
a = dict()

a['name'] = 'python' # 키 : 문자열 상수
a[('a',)] = 'python' # 키 : 튜플 
a[250]    = 'python' # 키 : 리터럴 상수
print(a)
a[[1,]]   = 'python' # 키 : 리스트 unhashable type -> 해시(객체 식별을 위한 해시함수의 리턴값)값이 변하기 때문

> Q10
``` py   
    딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.   

    >>> a = {'A':90, 'B':80, 'C':70}   
    ※ 딕셔너리의 pop 함수를 사용해 보자.   
```

In [431]:
a = {'A':90, 'B':80, 'C':70}

# value = a['B']
# print("B :", value)

value = a.get('B')
print(value)
print("a =", a)

value = a.pop('B')
print(value)
print("a =", a)

80
a = {'A': 90, 'B': 80, 'C': 70}
80
a = {'A': 90, 'C': 70}

> Q11
``` py   
    a 리스트에서 중복 숫자를 제거해 보자.   

    >>> a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]    
    ※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.    
```

In [459]:
s = {1, 2, 1, 2, 1, 2}
# print(s)

# 좋아하는 음식을 여러 사람들에게 입력받아 저장하는 경우

# 리스트 자료형
# list_foods = ["김치", "햄버거", "떡볶이", "김치", "라면", "닭발", "라면", "짬뽕", "라면"]
# print(list_foods)

# 셋 자료형
# set_foods  = {"김치", "햄버거", "떡볶이", "김치", "라면", "닭발", "라면", "짬뽕", "라면"}
# print(set_foods)

a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

# print(a)
# print(set(a))
# a = list(set(a))
# print(a)

li = []
for i in a:
    if i not in li:
        li.append(i)
print("li = {}".format(li))

a = li
print("a  = {}".format(a))

li = [1, 2, 3, 4, 5]
a  = [1, 2, 3, 4, 5]

> Q12
``` py   
    파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.    
    다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까?    
    그리고 이런 결과가 오는 이유에 대해 설명해 보자.   

    >>> a = b = [1, 2, 3]   
    >>> a[1] = 4   
    >>> print(b)   
```

In [488]:
b = [1, 2, 3]
print('b =', hex(id(b)))

a = b
print('a =', hex(id(a)))


a[1] = 4
print(b)

# (참조)변수 = 참조값(객체의 주소)을 저장
# b변수의 참조값을 a변수에 할당했으므로 같은 객체를 가리키고 있다.

b = 0x23c68803240
a = 0x23c68803240
[1, 4, 3]